.page-title {
    text-align: center;
    margin-bottom: 1cm;
}

.data-table {
    margin: 40px auto;
    width: 80%;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

th, td {
    border: 1px solid black;
    padding: 10px;
    text-align: left;
}

thead tr {
    background-color: black;
    color: white;
}

.data-links {
    text-align: center;
    margin: 40px 0;
}

.data-links ul {
    list-style-type: none;
    padding: 0;
}

.data-links li {
    display: block;
    margin: 10px 0;
}

.data-links a {
    text-decoration: none;
    font-weight: bold;
    color: blue;
}
