* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    padding: 20px;
    background-color: white;
}

header {
    text-align: center;
    margin-bottom: 20px;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline-block;
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: grey;
    font-weight: bold;
    transition: background-color 0.3s;
}

nav ul li a:hover {
    background-color: blue;
    color: white;
}

h1 {
    text-align: center;
    color: green;
    margin-bottom: 20px;
}

.main-paragraph p {
    text-align: justify;
    font-style: italic;
    margin: 1cm 0;
}

.topics {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    margin-top: 40px;
}

.column {
    flex: 1;
    min-width: 250px;
    padding: 20px;
    background-color: white;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    margin: 10px;
}

.column h2 {
    color: grey;
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.column p {
    font-size: 1rem;
    color: grey;
}

footer {
    text-align: center;
    margin-top: 40px;
}

footer ul {
    list-style-type: none;
}

footer ul li {
    display: inline-block;
    margin: 0 10px;
}

footer ul li a {
    text-decoration: none;
    color:navy;
    font-weight: bold;
    transition: background-color 0.3s;
}

footer ul li a:hover {
    background-color: blue;
    color: white;
}
